@media (min-width: 768px) {
    /* On large screens, convert the Footer to a vertical sidebar */
    .Footer {
        position:relative;
        bottom:0px;
        opacity:0.3;
        background-color:#151212;
        width:100%;
        font-size:15px;
        text-align:center;
    }
    .Footer h3{
        color:whitesmoke;
        opacity:1;
    }
}
